<!DOCTYPE html>
<html ng-app="">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Test - Directives and Data Binding</title>

    <link rel="stylesheet" href="../../Assets/css/normalize.css"/>
    <link rel="stylesheet" href="../../Assets/css/foundation.min.css"/>
    <link rel="stylesheet" href="../../Assets/css/font-awesome.min.css"/>

</head>
<body data-ng-init="customers=[{ name : 'John', city : 'New York'},{ name : 'Jane', city : 'Las Vegas'},{ name : 'Erica', city : 'Boston'},{ name : 'Johns', city : 'Boston'},{ name : 'Jaice', city : 'San Fransico'}]">
<div class="row-fluid">
    <div class="column">
        <h1>Name:</h1>

        <input type="text" ng-model="name"/> {{ name }}


        <ul>
            <li data-ng-repeat="cust in customers | filter:name | orderBy:'city' "> {{ cust.name | uppercase }} - {{ cust.city | lowercase}}</li>
        </ul>
    </div>
</div>



<script src="../../Assets/scripts/angular.js"></script>
</body>
</html>